.bloque-texto-g--reverse
  justify-content: flex-start
  .bloque-texto-g__img
    left: auto
    right: 0

.tarjeta.color-acento-botones--borde
  background-color: $color-acento-botones

.tarjeta.color-secundario--claro
  background-color: #FFF9E0

.lista-ul--color li > i:first-of-type
  color: $color-acento-botones

.slyder-a__tipo-a 
  .slyder-a__btn--atrs
    left: -70px
  .slyder-a__btn--sigt
    right: -70px

  .slyder-a__btn--sigt, .slyder-a__btn--atrs
    background-color: $color-acento-contenido
    border-color: transparent
    color: $white
    background-image: url(../assets/componentes/arrow-white.svg)

  .slyder-a__bullets
    bottom: -30px
    &__item
      border-color: $color-acento-contenido

      &--active
        background-color: $color-acento-contenido

.tabs-a__tab
  background-color: #E8E8E8

.tarjeta-flip--cuadrada
  .tarjeta-flip__contenedor
    padding-top: 100%
  .tarjeta-flip__img, .tarjeta-flip__contenido
    position: absolute
    inset: 0
  .tarjeta-flip__contenido
    display: flex
    flex-direction: column
    justify-content: center


.tarjeta-flip.color-acento-botones--borde
  border: none
  .tarjeta-flip__img, .tarjeta-flip__contenido
    border: 3px solid $color-acento-botones

.tarjeta-flip__titulo
  position: absolute
  bottom: 0
  left: 0
  right: 0
  background-color: $color-acento-botones

.img-infografica-b__modal__contenido
  height: 100%
  .tarjeta
    *
      color: $color-sistema-texto !important

.texto-adorno
  width: fit-content
  position: relative
  background-color: $color-secundario
  &:before
    content: url(../assets/curso/13.svg)
    position: absolute
    top: -40%
    right: -10%
    width: 46px

.texto-adorno-pequeno
  display: flex
  align-items: center
  &:before
    content: url(../assets/curso/13.svg)
    width: 25px
    height: 25px
    margin-right: 10px

.bloque-texto-a.color-secundario
  background-color: #E8E8E8




.img-infografica-b__item
  width: 3%
  .img-infografica-b__item__dot:before
    border: 3px solid white
  &.color-primario
    .img-infografica__item__dot, .img-infografica-b__item__dot
      i
        color: textColor($color-primario)
      &:before, &:after
        background-color: $color-primario
    .img-infografica__item__numero
      color: textColor($color-primario)
  &.color-secundario
    .img-infografica__item__dot, .img-infografica-b__item__dot
      i
        color: textColor($color-secundario)
      &:before, &:after
        background-color: $color-secundario
    .img-infografica__item__numero
      color: textColor($color-secundario)
  &.color-acento-contenido
    .img-infografica__item__dot, .img-infografica-b__item__dot
      i
        color: textColor($color-acento-contenido)
      &:before, &:after
        background-color: $color-acento-contenido
    .img-infografica__item__numero
      color: textColor($color-acento-contenido)
  &.color-acento-botones
    .img-infografica__item__dot, .img-infografica-b__item__dot
      i
        color: textColor($color-acento-botones)
      &:before, &:after
        background-color: $color-acento-botones
    .img-infografica__item__numero
      color: textColor($color-acento-botones)